body  {
    background-color: mediumspringgreen;
}

h1  {
    font-size: 45px;
    
    
}

a  {
    font-size: 55px;
    color: cornflowerblue;
    display: block;
    text-align: right;
}

li {
    font-size: 35px;
}


footer  {
    padding: 30px;
    text-align: center;
    background-color: mediumorchid;
}

footer img  {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

.ladinho  {
    display: flex;
    
}

.segundafeira  {
    margin-right: 980px;
}

div  {
    background-color: mediumorchid;
    padding: 60px;
}