body  {
    background-color: #8ba4d5;
}

h1  {
    font-size: 45px;
    
    
}

a  {
    font-size: 55px;
    color: cornflowerblue;
    display: block;
    text-align: right;
}

li {
    font-size: 35px;
    color: white;
}


.ladinho  {
    display: flex;
    
}

.segundafeira  {
    margin-right: 980px;
}

div  {
    background-color: #3c4e69;
    padding: 60px;
    border-radius: 10px;
}

footer  {
    padding: 30px;
    text-align: center;
    background-color: #3c4e69;
    border-radius: 10px;
    font-size: 20px;
}

footer img  {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}