h1 {
    padding: 90px;
    background-color: cornflowerblue;
    font-size: 80px;
}

p  {
    font-size: 70px;
    background-color: darkgray;
}



div  {
   padding: 300px; 
   background-color: darkgrey;
   text-align: left;
}


li  {
    font-size: 70px;
}


a  {
    text-decoration: none;
    color: black;
    
}


footer  {
    background-color: cornflowerblue;
    text-align: center;
    padding: 40px;
    font-size: 20px;
}


footer p  {
    font-size: 25px;
    background-color: cornflowerblue;
}



footer img  {
    width: 150px;
    height: 150px;
}