body  {
    background-color: rgb(27, 211, 211);
}


h1  {
    
    
    font-size: 50px;
    
}


a {
    display: block;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 60px;
}


li {
    font-size: 40px;
    display: block;
    
    
}

footer{
    padding: 30px;
    background-color: rgb(7, 116, 233);
    text-align: center;
    font-size: 20px;
    color: black;
}

footer img  {
    width: 150px;
    height: 150px;
    
}

div  {
    background-color: rgb(7, 116, 233);
    padding: 40px;
}

.ladoalado  {
    display: flex;
}

.tercafeira {
    margin-right: 1000px;
}